:root {
    --text-color: #18163d;
    --bg-shade: #eef2ff86;
    --faded-focus-color: #a5b4fc9d;
    --focus-color: #4f46e5;
    --top-margin: 1vh;
    --side-margin: 1vw;
}

:root.dark {
    --text-color: #e0e7ff;
    --bg-shade: #0c0b27ad;
    --faded-focus-color: #a5b4fc65;
    --focus-color: #3730a3;
}


html {
    background: url(media/jjk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark-bg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: jujutsu-kaisen;
    src: url(media/jujutsu-kaisen-font/Jujutsu\ Kaisen.ttf);
}

body {
    flex: 1;
    margin: var(--top-margin) var(--side-margin);
    padding: var(--top-margin) 0;
    background-color: var(--bg-shade);
    color: var(--text-color);
    box-sizing: border-box;
    border: 2px transparent;
    border-radius: 50px;
    font-family: jujutsu-kaisen, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100%;

    display: grid;
    grid-template-columns: 10vw 2fr 1fr;
    grid-template-rows: auto 1fr;
}

i{
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.nav {
    /* background-color: aquamarine; */
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    align-content: start;
    font-size: 1.4rem;
    gap: 3rem;

    & h1{
        margin: 0;
        padding: 1vh 1vw;
        text-align: center;
    }

    & nav {
        display: grid;
        gap: 3rem;
    }

    & ul {
        list-style: none;
        display: grid;
        gap: 1rem;
        margin: 0;
        padding: 0;

        & li {
            width: 100%;
            padding: 0.5rem;
            display: flex;
            gap: 2rem;
            cursor: pointer;
    
            &.active {
                background-color: var(--faded-focus-color);
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }

            & a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.header {
    /* background-color: brown; */
    grid-column: 2 / -1;
    text-wrap: nowrap;
    font-size: 1.3rem;
    padding-bottom: var(--top-margin);
    border-bottom: 2px solid;
   
    > :first-child {
        display: flex;
        width: 100%;
        gap: 50px;
        align-items: center;
        justify-content: space-around;
    
        box-sizing: border-box;
        padding: 0 var(--side-margin);

        & input {
            flex: 1;
            padding: 0.16rem var(--side-margin);
            border-radius: 25px;
            height: 2.5rem;
            border: transparent;
            outline: none;
            background-color: var(--faded-focus-color);
            color: var(--text-color);
            font-size: 1.2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    & img{
        height: 64px;
        width: 64px;
        border-radius: 50px;
    }

    & i {
        font-size: 1.5rem;
    }

    & > :last-child {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;

        & :not(span) {
            grid-row: 1 / 3;
        }

        & span.greet{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-weight: bolder;
        }

        & span.user{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-weight: bolder;
        }

        & img {
            justify-self: center;
        }

        & .techniques {
            background-color: var(--focus-color);
            width: min-content;
            padding: var(--top-margin) var(--side-margin);
            border-radius: 25px;
            color: white;
            font-size: 1.2rem;
        }
    }

}

.main {
    padding: 0 var(--side-margin);

    & .characters-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
        gap: 2rem;
        justify-items: center;

        & img {
            width: 100%;
            border-radius: 25px;
            border: 4px solid var(--focus-color)
        }

        & > div {
            position: relative;
            text-align: center;
            & p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0.2rem 0.5rem;
                margin: auto;
                width: fit-content;
                background-color: var(--focus-color);
                color: white;
            }
        }
    }
}

.extras {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    text-align: center;
    padding: 0 var(--side-margin);

    & .time {
        font-size: 10rem;
        background-color: var(--faded-focus-color);
        border: 5px solid;
        border-radius: 25px;
    }

    & .date {
        font-size: 3rem;
        background-color: var(--faded-focus-color);
        text-align: center;
        border: 5px solid;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        
        padding: 2rem 3rem;

        & span {
            font-size: 10rem;
            line-height: 5rem;
        }
    }
}